@mixin overlay($color)
  content: ''
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: $color
  opacity: 0.65

body
  background-color: $lightColor
  color: $darkColor
  font-family: 'Roboto', sans-serif

  &.stopScrolling
    height: 100%
    overflow: hidden

.flex
  display: flex

  &.center
    justify-content: center
    align-items: center

  &.between
    justify-content: space-between

  &.vertical
    flex-direction: column

  &.vertical--center
    flex-direction: column
    align-items: center

.flex1
  flex: 1

.infoStrip
  @extend .flex
  @extend .vertical
  @extend .center
  padding: 50px 0
  background-color: #e5262d
  text-align: center
  color: $lightColor

  h2
    margin-top: 0
    margin-bottom: 25px
