$carouselHeight: 400px
$carouselHeightLaptop: calc(100vh - 75px)
$numberOfSlides: 5

.crsl__Container
  position: relative
  overflow: hidden

  height: $carouselHeightLaptop
  color: #fff

  &.active-1
    .crsl__Strip
      transform: translateX(0)

    .crsl__Controls
      .crsl__ControlHandle
        &:first-child
          background-color: $accentColor

  &.active-2
    .crsl__Strip
      transform: translateX( -100% / $numberOfSlides )

    .crsl__Controls
      .crsl__ControlHandle
        &:nth-child(2)
          background-color: $accentColor

  &.active-3
    .crsl__Strip
      transform: translateX( -200% / $numberOfSlides )

    .crsl__Controls
      .crsl__ControlHandle
        &:nth-child(3)
          background-color: $accentColor

  &.active-4
    .crsl__Strip
      transform: translateX( -300% / $numberOfSlides )

    .crsl__Controls
      .crsl__ControlHandle
        &:nth-child(4)
          background-color: $accentColor

  &.active-5
    .crsl__Strip
      transform: translateX( -400% / $numberOfSlides )

    .crsl__Controls
      .crsl__ControlHandle
        &:nth-child(5)
          background-color: $accentColor

  &.active-6
    .crsl__Strip
      transform: translateX( -500% / $numberOfSlides )

    .crsl__Controls
      .crsl__ControlHandle
        &:nth-child(6)
          background-color: $accentColor

  .crsl__Strip
    display: flex
    height: 100%
    width: 100% * $numberOfSlides

    transition: transform 0.3s ease-in
    will-change: transform

    .crsl__Slide
      height: 100%
      width: 100% / $numberOfSlides

      &::before
        +overlay($darkColor)

      &.slide-1
        position: relative
        background:
          image: url(../assets/img/gymroom.jpg)
          size: cover
          position: center

        &::before
          // +overlay(#e50000)

      &.slide-2
        position: relative
        background:
          image: url(../assets/img/redroom.jpg)
          size: cover
          position: center

        &::before
          // +overlay($mainColor)


      &.slide-3
        position: relative
        background:
          image: url(../assets/img/frontoffice.jpg)
          size: cover
          position: center

        &::before
          // +overlay($darkColor)

      &.slide-4
        position: relative
        background:
          image: url(../assets/img/servizi.jpg)
          size: cover
          position: center

        &::before
          // +overlay($mainColor)

      &.slide-5
        position: relative
        background:
          image: url(../assets/img/zenroom.jpg)
          size: cover
          position: center

        &::before
          // +overlay($redColor)

      &.slide-6
        position: relative
        background:
          image: url(../assets/img/frontdoor.jpg)
          size: cover
          position: center bottom

        &::before
          // +overlay($mainColor)

  .crsl__Controls
    position: absolute
    bottom: 20px
    left: 50%
    margin-left: -75px

    display: flex

    .crsl__ControlHandle
      margin-right: 5px

      height: 20px
      width: 20px

      background-color: #fff
      border-radius: 50%
      box-shadow: 0px 0px 5px #333

      cursor: pointer

      &:last-child
        margin-right: 0


  .crsl__ContentBox
    height: $carouselHeightLaptop

  .crsl__Headline
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    text-align: center

    .strong
      // +pageTitle()
      margin: 20px 20px
      font-size: 4rem

    .weak
      // +pageSubtitle()
      margin: 0
      text-transform: uppercase
      font-size: 2rem

  .crsl__Actions
    display: flex
    justify-content: center
    align-items: center

    margin: 50px 0

    button
      &:first-child
        margin-right: 20px

@media (max-width: 1024px)
  .crsl__Container
    height: $carouselHeight

    .crsl__ContentBox
      height: $carouselHeight

    .crsl__Headline
      .strong
        +pageTitle()

      .weak
        +pageSubtitle()

@media (max-width: 600px)
  .crsl__Container
    .crsl__Headline
      .strong
        font-size: 3rem

      .weak
        font-size: 1.5rem

@media (max-width: 480px)
  .crsl__Container
    .crsl__Headline
      .strong
        font-size: 2.5rem
      .weak
        font-size: 1.25rem

    .crsl__Actions
      flex-direction: column

      button

        &:first-child
          margin-right: 0
          margin-bottom: 20px

@media (max-width: 410px)
  .crsl__Container
    .crsl__Headline
      .strong
        font-size: 1.75rem

      .weak
        font-size: 1rem
