.crsl__Container
  .wrapper
    .grid
      .grid__col.grid__col--5-of-5
        .crsl__ContentBox.flex.center.vertical
          .crsl__Headline
            p.strong Società sportiva?
            p.weak Prenota il tuo Open Day
          .crsl__Actions
            button.cta.strong Tutte le info
            button.cta.weak +39 346 753 17 97
