.crsl__Container.active-1
  .crsl__Strip
  
    .crsl__Slide.slide-1
      .crsl__ContentBox.flex.center.vertical
        .wrapper
          .crsl__Headline
            p.strong Società sportiva?
            p.weak Scopri tutta l'offerta di PFT
          .crsl__Actions
            button.cta.strong Tutte le info
            // button.cta.weak Chiama ora
  
    .crsl__Slide.slide-2
      .crsl__ContentBox.flex.center.vertical
        .wrapper
          .crsl__Headline
            p.strong Dove siamo
            p.weak Vienici a trovare in una delle nostre sedi
          .crsl__Actions
            button.cta.strong Vedi di più
            // button.cta.weak +39 346 753 17 97
  
    .crsl__Slide.slide-3
      .crsl__ContentBox.flex.center.vertical
        .wrapper
          .crsl__Headline
            p.strong Servizi e competenze
            p.weak Medicina, trattamenti manuali e terapie
          .crsl__Actions
            button.cta.strong Leggi di più
            
    .crsl__Slide.slide-4
      .crsl__ContentBox.flex.center.vertical
        .wrapper
          .crsl__Headline
            p.strong Oltre 30 specialisti
            p.weak Conosci tutto lo Staff di PFT
          .crsl__Actions
            button.cta.strong Leggi di più
            
    .crsl__Slide.slide-5
      .crsl__ContentBox.flex.center.vertical
        .wrapper
          .crsl__Headline
            p.strong Approfondimenti
            p.weak Video e articoli sul mondo della fisioterapia
          .crsl__Actions
            button.cta.strong Vai
  
  .crsl__Controls
    .crsl__ControlHandle
    .crsl__ControlHandle
    .crsl__ControlHandle
    .crsl__ControlHandle
    .crsl__ControlHandle
  

              
