doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='../vendor/css/toast.css', charset='utf-8')
    link(rel='stylesheet', href='staff.css', charset='utf-8')
    link(rel="stylesheet" href="../vendor/css/fontawesome.css")
    title PFT
  body.flex.vertical
    != partial('../_components/_header/_header', { page: "STAFF" })
    .flex1
      != partial('../_components/_staff/_staff')
      != partial('../_components/_sponsors/_sponsors')
      != partial('../_components/_footer/_footer')
    script(src="../assets/js/main.min.js")
