.about__Container
  .about__Strip
    .wrapper
      .flex.vertical.center
        .about__Headline
          h2.about__Title Project PFT Torino
          p.about__Subtitle Propone l'unione in un'unica struttura dell'elite dell'ambito medico-sportivo associato a varie discipline. Si basa sulla collaborazione degli specialisti di diverse realtà accomunate dal raggiungimento di un unico obiettivo: <strong>l'eccellenza</strong>

  .wrapper
    .about__LogoStrip.flex.between
      a.about__Logo(href="#pft")
        img(src="../assets/img/pft.png", alt="")
      a.about__Logo(href="#legiosteam")
        img(src="../assets/img/legiosteam.png", alt="")
      a.about__Logo(href="#thraexcrossfit")
        img(src="../assets/img/thraexcrossfit.png", alt="")



  .about__Text__SectionTitle#pft
    h3 PFT
          
  .wrapper
    .about__Text
      .flex.center
        p.flex1 PFT propone l'innovativo progetto di unione del mondo medico, quello fisioterapico e quello della preparazione per la creazione di un unica realtà finalizzata al raggiungimento dell'eccellenza sportiva. È formato da uno staff di 20 specialisti, tutti con esperienze dirette nell'ambito dello sport professionistico, e si avvale delle più innovative strumentazioni in campo medico-riabilitativo grazie alla collaborazione con le più grandi aziende del settore (Sinergy Human Tecar, TheraBand, AlphaMed, Desmotec). Avvalendosi di una struttura di 1500 metri quadri progettata  e creata per adempire a tutte le esigenze dell'atleta, lo staff della PFT, non si limita a seguirlo quand'egli è in struttura, ma si premura di proseguire l'affiancamento in campo, seguendolo durante l'attività sportiva negli allenamenti e nelle competizioni.
        
        img(src="../assets/img/pft.png", alt="")

  .about__Text__SectionTitle#legiosteam
    h3 Legio's Team        
  
  .wrapper
    .about__Text    
      .flex.center
        p.flex1 Arriva finalmente a torino, il Legio's Team. In collaborazione con <em>il legionario</em>, Alessio Sakara, il Legio's Team Torino si pone come polo marziale e <strong>punto di riferimento del MMA non solo di Torino ma di tutto il Nord d'Italia</strong>. Si riuniscono sotto un unica struttura i campioni di varie discipline marziali per allenarsi insieme, stimolarsi e continuare a migliorasi. In collaborazione con VENUM, che garantisce una qualità del materiale utilizzato, in nome del motto <em>“AMAT VICTORIA CURAM”</em> (la vittoria esige preparazione) a Legio's Team Torino, nulla viene lasciato al caso: 800 metri quadri dedicati alla preparazione, gabbia regolamentare, ring, sacchi, pau, tatami di differenti spessori, si ricerca la cura di ogni singolo dettaglio per il raggiungimento di un unico risultato possibile. <strong>LA VITTORIA!</strong>
        
        img(src="../assets/img/legiosteam.png", alt="")

  .about__Text__SectionTitle#thraexcrossfit
    h3 Thraex Crossfit
  
  .wrapper
    .about__Text  
      .flex.center
        p.flex1 Una realtà nascente che si basa sui principi della <strong>disciplina</strong> e della <strong>passione</strong> che i nostri coach Lorenzo e Davide sono in grado di trasmettere. Qualsiasi sia il tuo fine, amatoriale o agonistico, a Thraex Crossfit avrai una guida per il raggiungimento dei tuoi obiettivi: <em>aperto 7 giorni su 7, con 6 classi al giorno</em>, avrai la possibilità di allenarti in compagnia o di eseguire programmi competitor individualizzati. Grazie alla partnership con LACERTOSUS, che fornirà completamente l'attrezzatura necessaria per le attività, sarà possibile trovare tutti gli ultimi prodotti immessi sul mercato e la qualità del materiale è certificata e garantita. Possibilità di confrontarsi in gare interne, migliorarsi con workshop, testare il proprio livello di fitness in ogni singolo WoD, il tutto supportato da una programmazione disponibile on-line per tutti i membri della community, in modo da potersi allenare da qualsiasi parte voi siate. Non c'è molto altro da dirvi, non vi resta che venirci a trovare and <strong>Try your fitness.</strong>
        
        img(src="../assets/img/thraexcrossfit.png", alt="")
