.about__Container
  background-color: #fff

  .about__Title
    +pageTitle()

  .about__Subtitle
    +pageSubtitle()

  .about__Strip
    position: relative
    overflow: auto
    height: 400px
    background:
      image: url(../assets/img/about.jpg)
      position: center top
      size: cover
    color: #fff

    &::before
      +overlay($mainColor)

    .flex.vertical.center
      height: 400px

    .about__Headline
      text-align: center

  .about__LogoStrip
    margin-top: 25px
    padding: 10px

    .about__Logo
      cursor: pointer
      max-width: 150px

      img
        max-width: 100%

      &:hover
        opacity: 0.4

      &:not(:last-child)
        margin-right: 15px

  .about__Text__SectionTitle
    @extend .flex
    @extend .center
    padding: 25px 0
    background-color: $mainColor
    color: #fff
    margin: 25px 0
    font-size: 2rem

  .about__Text
    padding: 50px 0
    line-height: 1.5rem
    font-size: 1.15rem

    p
      order: 1
      line-height: 27px
      margin-left: 20px
      margin-right: 20px
      margin-top: 0

    img
      max-width: 200px
      width: 100%
      height: 100%
      margin: -40px 40px 0 40px

  @media (max-width: 700px)
    .about__Text
      padding: 0
      img
        display: none
