.about__Container
  .about__Strip
    .wrapper
      .flex.vertical.center
        .about__Headline
          h2.about__Title Project PFT Torino
          p.about__Subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quis natus quod, odit quisquam, cumque suscipit. Praesentium soluta, expedita repellendus.

  .wrapper
    .about__Text
      
      h3.about__Text__SectionTitle PFT
      
      .flex.center
        p.flex1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, veritatis totam maxime praesentium! Distinctio rerum ipsum expedita asperiores saepe aperiam, nihil laborum modi consequuntur blanditiis quibusdam ex qui maiores eaque excepturi praesentium, non mollitia, itaque odio architecto. Blanditiis impedit ea veniam magnam itaque explicabo iste aliquid, illo dolorem quidem minus, sequi, provident cupiditate veritatis perferendis totam neque consequatur? Neque voluptatem pariatur molestias commodi, illo aspernatur nihil odio odit soluta, quisquam cum nam fuga, distinctio quaerat quasi maiores blanditiis. Consequuntur nihil quo optio sunt debitis quis dolor laboriosam ipsam, hic, eius, voluptatem perspiciatis saepe, officiis cumque voluptatum aut deleniti dicta modi?
        
        img(src="../assets/img/logo.png", alt="")

      h3.about__Text__SectionTitle Legio's Team        
      
      .flex.center
        p.flex1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, veritatis totam maxime praesentium! Distinctio rerum ipsum expedita asperiores saepe aperiam, nihil laborum modi consequuntur blanditiis quibusdam ex qui maiores eaque excepturi praesentium, non mollitia, itaque odio architecto. Blanditiis impedit ea veniam magnam itaque explicabo iste aliquid, illo dolorem quidem minus, sequi, provident cupiditate veritatis perferendis totam neque consequatur? Neque voluptatem pariatur molestias commodi, illo aspernatur nihil odio odit soluta, quisquam cum nam fuga, distinctio quaerat quasi maiores blanditiis. Consequuntur nihil quo optio sunt debitis quis dolor laboriosam ipsam, hic, eius, voluptatem perspiciatis saepe, officiis cumque voluptatum aut deleniti dicta modi?
        
        img(src="../assets/img/logo.png", alt="")
          
      h3.about__Text__SectionTitle Thraex Crossfit
      
      .flex.center
        p.flex1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, veritatis totam maxime praesentium! Distinctio rerum ipsum expedita asperiores saepe aperiam, nihil laborum modi consequuntur blanditiis quibusdam ex qui maiores eaque excepturi praesentium, non mollitia, itaque odio architecto. Blanditiis impedit ea veniam magnam itaque explicabo iste aliquid, illo dolorem quidem minus, sequi, provident cupiditate veritatis perferendis totam neque consequatur? Neque voluptatem pariatur molestias commodi, illo aspernatur nihil odio odit soluta, quisquam cum nam fuga, distinctio quaerat quasi maiores blanditiis. Consequuntur nihil quo optio sunt debitis quis dolor laboriosam ipsam, hic, eius, voluptatem perspiciatis saepe, officiis cumque voluptatum aut deleniti dicta modi?
        
        img(src="../assets/img/logo.png", alt="")
