footer.ft__Container
  .wrapper
    .flex.vertical.center
        p.ft__Title Contattaci
        ul.ft__Contacts
          li 
            a(href="mailto:leonardopinto.fisio@gmail.com") leonardopinto.fisio@gmail.com
          li 
            | +39 392 255 98 48
          li 
            a(href="https://www.facebook.com/PFT-248657208858113/?fref=ts") Facebook
          li 
            a(href="https://www.youtube.com/channel/UCKyRrsj88beVHLtpp3R4G-A") YouTube
  
