footer.ft__Container
  .wrapper
    .flex.vertical.center
        p.ft__Title Contattaci
        ul.ft__Contacts
          li 
            a(href="#") menduni6@gmail.com
          li 
            a(href="#") +39 346 753 17 97
          li 
            a(href="#") facebook
          li 
            a(href="#") youtube
  
