footer.ft__Container
  .wrapper
    .flex.vertical.center
        p Contattaci
        ul.ft__Contacts
          li menduni6@gmail.com
          li +39 346 753 17 97
          li facebook
          li youtube
  
