.about__Container
  
  .about__Where
  
    .wrapper
    
      .grid
        
        .grid__col.grid__col--5-of-5
          h2.about__Title Dove siamo
          
        .grid__col.grid__col--1-of-2
          .about__Where__Map
            #map
        
        .grid__col.grid__col--1-of-2
          .about__Buildings__Container.flex.vertical.center
            .about__Building
              h3.about__Building__Name Sede Torino
              .about__Building__Street Strada Altessano 61
              .about__Building__City Torino
              
            .about__Building
              h3.about__Building__Name Sede Caselle
              .about__Building__Street Via Druento 92/b
              .about__Building__City Venaria Reale, 10078, TO
              
  .about__Details__Stripe
  
    .wrapper
    
      .grid
            
        .grid__col.grid__col--1-of-3
          .flex.vertical.center
            .about__Details__Text
              h3.about__Details__Title Sede Torino
              
              .about__Details__Subtitle Indirizzo:
              div Strada Altessano 61
              div Torino
          
              .about__Details__Subtitle Orari:
              div Lunedì, Mercoledì e Venerdì
              div Dalle 10.00 alle 19.00
              
              .about__Details__Subtitle Appuntamenti:
              div +39 346 753 17 97
          
          
        .grid__col.grid__col--2-of-3
          .about__Details__Pics      
            .about__Pic__Container.vertical
            .about__Pic__Container.fat
            .about__Pic__Container.slim
                  
      //- hr
      
  //- .about__Details__Stripe
  //- 
  //-   .wrapper
  //-   
  //-     .grid
  //-       
  //-       .grid__col.grid__col--1-of-3
  //-         .flex.vertical.center
  //-           .about__Details__Text
  //-             h3.about__Details__Title Sede Caselle
  //-             
  //-             .about__Details__Subtitle Indirizzo:
  //-             div Via Druento 92/b
  //-             div Venaria Reale, 10078, TO
  //-         
  //-             .about__Details__Subtitle Orari:
  //-             div Lunedì, Mercoledì e Venerdì
  //-             div Dalle 10.00 alle 19.00
  //-             
  //-             .about__Details__Subtitle Appuntamenti:
  //-             div +39 346 753 17 97
  //-         
  //-       .grid__col.grid__col--2-of-3.left
  //-         .about__Details__Pics      
  //-           .about__Pic__Container.vertical
  //-           .about__Pic__Container.fat
  //-           .about__Pic__Container.slim
