section.spnr__Container
  .wrapper
    .grid
      .grid__col.grid__col--5-of-5
        h3 I nostri sponsor
        
    .gd__Container
      .gd__Cell.tile
        img(src="../../assets/img/adidas.png")
      .gd__Cell.tile
        img(src="../../assets/img/adidas.png")
      .gd__Cell.tile
        img(src="../../assets/img/adidas.png")
      .gd__Cell.tile
        img(src="../../assets/img/adidas.png")
