if page === "HOME"
  - var prefix = "."
else
  - var prefix = ".."
  
section.spnr__Container
  .spnr__Title
    h3 I nostri sponsor

  .spnr__Strip
    for logo in public.assets.img.logos._contents
      .spnr__Logo__Container
        img(src= prefix + "/assets/img/logos/#{ logo }")
