.appr__Container(ng-app="ApprApp")
  .wrapper
    div(ng-controller="VideosCtrl")
      .flex.center.between
        h2.appr__Title Video
        span(ng-click="quantity = quantity ? false : 6") Vedi tutti
      
      .appr__Videos
        .row
          .col__4-12.col__md-6-12.col__sm-12-12(ng-repeat="video in videos | limitTo: quantity")
            a.appr__Video.tile(target="_blank" href="https://www.youtube.com/watch?v={{video.snippet.resourceId.videoId}}")
              p.video__Title {{ video.snippet.title }}
              .video__Thumb(style="background-image:url({{video.snippet.thumbnails.high.url}})")
    
    div(ng-controller="ArticlesCtrl")
      .flex.center.between
        h2.appr__Title Articoli
        span(ng-click="quantity = quantity ? false : 6") Vedi tutti
    
      .appr__Articles
        .row          
          .col__4-12.col__md-6-12.col__sm-12-12(ng-repeat="article in articles | limitTo: quantity")
            a.appr__Video.tile(target="_blank" href="{{article.post_url}}")
              p.video__Title {{ article.summary }}
              .video__Thumb(style="background-image:url({{article.photos[0].alt_sizes[2].url}})")
