.appr__Container
  .wrapper
    h2.appr__Title Video
    
    .grid
      .appr__Videos
      
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
                
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
                
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
    
    h2.appr__Title Articoli

    .grid
      .appr__Articles
      
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
                
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
            
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
                
        .grid__col.grid__col--1-of-3
          .appr__Video.tile
            p.video__Title L'osteopatia nel calcio
            img.video__Thumb(src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT1rYGuVl_gw603hyZbFA6edGxK4mIdc-sljazIPr2YgR1S7cSX")
        
