.soc__Container
  .soc__Strip
    .wrapper
      .flex.vertical.center
        .soc__Headline
          h2.soc__Title Società sportiva?
          p.soc__Subtitle Scopri tutta l'offerta di PFT e prenota il tuo Open Day! I nostri specialisti saranno a disposizione dei tuoi atleti per una giornata intera.

  .soc__TextStrip
    .wrapper
      .row
        .col__12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
          
  .soc__PicStrip(style="background-image:url(../assets/img/struttura.jpg)")
    .soc__PicStrip__Title 
      .wrapper
        span La struttura
  
  .soc__TextStrip
    .wrapper
      .row
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Area medica
          
          p L'area medica comprende 3 stanze mediche con apparecchiature strumentali per terapia e diagnostica e 110 metri quadri di palestra fisioterapica.
          
          p Materiale presente:
          
          ul
            li Isoinerziali D11 e V12
            li Macchinari isotonici vari: <em>leg ex, leg curl, leg press, ercolina, easy power, 2 cyclette, tapin, rotex, top xt</em>
            li Tavolette propriocettive, skimmy, bosy, elastici e spalliere
            li Panche regolabili
            li Ketteball, sandbag, bilancieri e manubri
            li Percorso mat human tecar
          
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Area sportiva
          
          p L'area sportiva si costituisce di 800 metri quadri di open space <em>( 400 metri quadri tatami, 370 metri quadri, rubben + pista sintetico 40x 2m e prato sintetico e salita interna di 10 m )</em>
          
          p Materiale presente:
          
          ul
            li 30 kettleball da 8 kg a 40 kg
            li 25 medball e 10 slam ball
            li 25 bilancieri olimpici (maschili, femminili e junior)
            li 1000 kg bumper 
            li 1 rack fisso a 13 postazioni e 5 rack mobili
            li Rings, dip station, pull-up e rope climber
            li 20 box, plinti e rialzi di varia natura
            li Altri accessori in minor numero: <em>axel bars, log, slam ball,  battle rope, bands, bulgarian bag, slitte, ruote,  zavorre, rower</em>
          
  .soc__PicStrip(style="background-image:url(../assets/img/team.jpg)")
    .soc__PicStrip__Title 
      .wrapper
        span Servizi per società sportive
      
  .soc__TextStrip
    .wrapper
      .row
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lavoro atletico
          p 
            ul
              li Analisi della disciplina
          
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
      
  .infoStrip
    h2 Vuoi prenotare un Open Day di prova?
    button.cta.strong Chiama ora
