.soc__Container
  .soc__Strip
    .wrapper
      .flex.vertical.center
        .soc__Headline
          h2.soc__Title Società sportiva?
          p.soc__Subtitle Scopri tutta l'offerta di PFT e prenota il tuo Open Day! I nostri specialisti saranno a disposizione dei tuoi atleti per una giornata intera.

  .soc__TextStrip
    .wrapper
      .row
        .col__12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
          
  .soc__PicStrip(style="background-image:url(../assets/img/gym.jpg)")
  .soc__TextStrip
    .wrapper
      .row
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
          
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
          
  .soc__PicStrip(style="background-image:url(../assets/img/team.jpeg)")
  .soc__TextStrip
    .wrapper
      .row
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
          
        .col__6-12.col__md-12-12.col__sm-12-12
          h3 Lorem ipsum dolor.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sapiente consectetur vitae, ducimus eum delectus laboriosam veniam. Quos eaque quisquam impedit incidunt sequi voluptates illum cumque! Distinctio aut quis enim ipsa iusto pariatur officiis repudiandae doloribus, quia, laborum recusandae, perferendis, ipsam. Alias modi voluptas commodi nostrum deleniti fuga illo quibusdam odit praesentium doloremque quae sed facere dolore natus in assumenda nam suscipit eligendi deserunt ex minima aspernatur necessitatibus odio, voluptates! Aut voluptate, aliquam totam, ipsa nisi sed sit vero. Nemo maiores quidem consectetur. Veniam nobis repellat ut, placeat, aliquid aspernatur quibusdam aut itaque porro, neque modi debitis excepturi odio ipsa.
      
  .infoStrip
    h2 Vuoi prenotare un Open Day di prova?
    button.cta.strong Chiama ora
