.srv__Container
  .srv__Strip
    .wrapper
      .flex.vertical.center
        .srv__Headline
          h2.srv__Title Le competenze in struttura
          p.srv__Subtitle Disponiamo in struttura di uno staff di 20 specialisti e ci avvaliamo delle più innovative strumentazioni in campo medico-riabilitativo
    
  .srv__Servizi
    .wrapper
      .grid
        .grid__col.grid__col--1-of-3
          .tile.fullHeight.srv__Servizio
            h3.srv__Servizio__Title Medicina
            .srv__Servizio__ContentWrapper
              .srv__Servizio__Pic
                img(src="../assets/img/icons/health.svg" alt="")
              ul.srv__Servizio__List
                li Visita ortopedica
                li Visita ortopedica pediatrica
                li Valutazione posturale
                li Valutazione della motricità
                li Valutazione fisioterapica
                li Analisi biomeccanica della pedalata
            
        .grid__col.grid__col--1-of-3
          .tile.fullHeight.srv__Servizio
            h3.srv__Servizio__Title Trattamenti manuali
            .srv__Servizio__ContentWrapper
              .srv__Servizio__Pic
                img(src="../assets/img/icons/massage.svg" alt="")
              ul.srv__Servizio__List
                li Osteopatia e manipolazioni
                li Massoterapia
                li Massaggio decontratturante
                li Massaggio fasciale e/o connettivale
                li Linfodrenaggio
                li Bendaggio funzionale e kinesiotaping
                li Terapia perineale
                li Dry Needling
                li Fibrolisi

        .grid__col.grid__col--1-of-3
          .grid__col--1-of-1
          .tile.srv__Servizio.horizontal
            h3.srv__Servizio__Title Terapie strumentali
            .srv__Servizio__ContentWrapper
              .srv__Servizio__Pic
                img(src="../assets/img/icons/therapy.svg" alt="")
              ul.srv__Servizio__List
                li Tecarterapia
                li Laserterapia
                li Ultrasuono terapia
                li Tens
                li Elettroterapia
                li Magnetoterapia
                
          .grid__col--1-of-1
            .tile.srv__Servizio.horizontal
              h3.srv__Servizio__Title Chinesiterapia
              .srv__Servizio__ContentWrapper
                .srv__Servizio__Pic
                  img(src="../assets/img/icons/gym.svg" alt="")
                ul.srv__Servizio__List
                  li Riabilitazione in palestra
                  li Ginnastica posturale
                  li Riatletizzazione
                  li Prevenzione infortuni
                  li Lavoro prestativo
