.srv__Container
  .srv__Strip
    .wrapper
      .flex.vertical.center
        .srv__Headline
          h2.srv__Title Le competenze in struttura
          p.srv__Subtitle Disponiamo in struttura di specializzazioni di ogni tipo, il che ci permette di fornire servizi multipli
    
  .srv__Servizi
    .wrapper
      .grid
        .grid__col.grid__col--1-of-3
          .tile.srv__Servizio.flex.vertical.center
            img.srv__Servizio__Pic(src="../assets/img/health.png" alt="")
            h3.srv__Servizio__Title Medicina
            ul.srv__Servizio__List
              li Visite specialistiche ortopediche
              li Visite specialistiche ortopedia pediatrica
              li Ecografia
              li Valutazione posturale
              li Valutazione funzionale motoria
              li Valutazione biomeccanica della pedalata
            
        .grid__col.grid__col--1-of-3
          .tile.srv__Servizio.flex.vertical.center
            img.srv__Servizio__Pic(src="../assets/img/health.png" alt="")
            h3.srv__Servizio__Title Trattamenti manuali
            ul.srv__Servizio__List
              li Trattamenti osteopatici
              li Terapia manuale
              li Massoterapia
              li Linfoterapia
              li Bendaggio funzionale
              li Chinesiterapia
              li Fibrolisi
              li Dry Needling
              li Fisioterapia perineale
              
        .grid__col.grid__col--1-of-3
          .grid__col--1-of-1
            .tile.srv__Servizio.flex.vertical.center
              img.srv__Servizio__Pic(src="../assets/img/health.png" alt="")
              h3.srv__Servizio__Title Terapie strumentali
              ul.srv__Servizio__List
                li Tecarterapia
                li Laserterapia
                li Tens
                li Elettroterapia
                li Ultrasuono
                li Magnetoterapia
                
          .grid__col--1-of-1
            .tile.srv__Servizio.flex.vertical.center
              img.srv__Servizio__Pic(src="../assets/img/health.png" alt="")
              h3.srv__Servizio__Title Riabilitazione in palestra
              ul.srv__Servizio__List
                li Riabilitazione
                li Riatletizzazione
                li Lavoro preventivo
                li Lavoro prestativo
