header.hd__Container
  background-color: #fff
  box-shadow: 0 0 8px rgba($darkColor, 0.3)
  // overflow: auto

  height: 75px
  line-height: 75px

  font-size: 0.8rem

  p, ul
    padding: 0
    margin: 0

  .nav__Container
    display: flex
    justify-content: space-around
    align-items: center

    list-style: none

    font-style: italic

    .active
      color: $mainColor
      text-decoration: underline
